body{
    padding: 0 8vw;
}

.nav {
    display: flex;
    align-items: center;
    box-shadow: 0.0px 1px 0px rgba(0,0,0,0.3);
    font-size: 1.30005vw;
}

.nav--contents{
    list-style-type: none;
    display: flex;
    color: rgb(132.0, 116, 116);
    height: 5vw;
    padding-top: 2vw;
    margin-bottom: 0.00;
}
.nav--contents li{
    width: 6vw;
    text-align: center;
}
.nav--contents li:hover{
    color: black;

    font-weight: bold;
}

.pointer:hover {
    cursor: pointer;
    
}

.active{
    border-bottom: 0.400vw solid hsl(26, 86%, 52%);
    color: black;
    font-weight: bold;
}

.nav--navbars {
    margin-right: auto;
}

.nav--title {
    margin-right: 2vw;
    font-weight: bold;
}

.cont {
    margin: 0 1vw;
}

.nav--status{
    align-items: baseline;
    display: flex;
}

.nav--status svg{
    height: 2.5vw;
    width: 3vw;
}

.nav--status img{
    width: 4vw;
}

.counter--hide{
    display: none;
}

.counter--show{
    display: block;
    position: absolute;
    top: -8px;
    right: 1vw;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.2vw;
    height: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
}

#nav--avatar:hover{
    border: 4px solid hsl(26, 86%, 52%);
}

#nav--avatar{
    align-items: center;
    margin: 0 1vw;
    border-radius: 50%;
    padding-right: 2px;
}